.charac-img {
    width: 200px;
}

.charac-Match {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 69vh;
}

.characters {
    display: flex;
}

.charac-coeur-result,
.charac-eclair-result {
    display: flex;
    align-items: center;
}

h2 {
    color: yellow;
}