.charac-img {
    width: 200px;
}

.charac-Match {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.characters {
    display: flex;
}

.btn {
    font-size: 30px;
    background-color: #f7915c;
    border: none;
    border-radius: 10px;
}